.sect{
    max-width: 1200px;
    margin: 0 auto;
}
.title{
    font-family: "Epilogue", sans-serif;
    font-weight: 800;
    font-size: 50px;
    vertical-align: middle;
}
.logo{
    width: 50px;
    vertical-align: middle;
}
 .container{
    max-width: 1200px;
    padding-left: 5%;
    padding-top: 50px;
    padding-bottom: 20%;
    background-color: white;
 }
.buttonContainer{
    max-width: 1200px;
    padding-left: 2%;
    background-color: rgb(255, 255, 255);
    
}
.rotate{
    display: inline-block;
    transform: rotate(90deg);
}
.back{
    background-color: beige;
    padding: 15%;
}

.boldtxt{
    font-weight: bold;
    

}
.b1{
    background-color: aqua;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 10px;
}
.b2{
    background-color: white;
    color: gray;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 10px;

}
.label1{
    background-color: blue;
    color: white;
    padding: 4px;
    font-size: 7px;
    border-radius: 20px;
    border: 0;
}
.label2{
    background-color: purple;
    color: white;
    padding: 4px;
    font-size: 7px;
    border-radius: 20px;
    border: 0;
}
.label3{
    background-color: orange;
    color: white;
    padding: 4px;
    font-size: 7px;
    border-radius: 20px;
    border: 0;
}
.label4{
    background-color: rgb(70, 219, 70);
    color: white;
    padding: 4px;
    font-size: 7px;
    border-radius: 20px;
    border: 0;
}
.vspace{
    margin: 5px;
}
.pbullet{
    list-style-image: url(../img/task-complete.svg)
}
.nbullet{
    list-style-image: url(../img/dialog-error.svg);
}